.reportNameText {
  font-family: Montserrat-500;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.2px;
  text-transform: uppercase !important;
}
