/* .LabelBorder{
  border: 1px solid #F8F8F8;
background: #FFF;
} */

.widthGivenBrandDetailPage{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
    margin: auto;
  }

  .HoverArrow svg{
    transition: 0.5s;
    width: 20px;
    height: 20px;
  }

  .HoverArrow:hover svg {
    /* margin-left: 10px; */
    transition: 0.5s;
  }


  /* animation */

   .ImgHover1 {
    position: relative;
    margin: 0;
    overflow: hidden;
    padding: 0;
    transition: .75s;
    cursor: pointer; 
    
  }
  .ImgHover1::before{
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(240, 240, 240, 0.3) 100%);
    transform: skewX(-25deg);
  }
  .ImgHover1::before{
    -webkit-animation: shine .75s;
    animation: shine .75s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

.AcoorWidrth td{
  padding: 0;
  margin: 0 0 2px 0;
}


.AcoorWidrth label{
  border-bottom: 1px solid #F8F8F8;
background: #F8FAFB;
margin: 0 0 3px 0;
  color: #000;
font-family: Montserrat-500;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 2px;
}

.FilterNoneClass{
  background-color: #000;
}


@media(max-width:991.98px){
  .widthGivenBrandDetailPage{

    grid-template-columns: repeat(3, auto);

  }

  
.AcoorWidrth label{
  font-size: 15px;
}
}

@media(max-width:768.98px){
  .widthGivenBrandDetailPage{
    grid-template-columns: repeat(2, auto);
  }

  .FilterNoneClass{
    /* display: none; */
  }
}

@media(max-width:600.98px){
  .widthGivenBrandDetailPage{
    grid-template-columns: repeat(1, auto);
  }
}