.widthGivenBrandDetailPage{
    width: 90%;
  }

  .HoverArrow svg{
    transition: 0.5s;
    width: 20px;
    height: 20px;
  }

  .HoverArrow:hover svg {
    margin-left: 10px;
    transition: 0.5s;
  }


  /* animation */

   .ImgHover1 {
    position: relative;
    margin: 0;
    overflow: hidden;
    padding: 0;
    transition: .75s;
    cursor: pointer; 
    
  }
  .ImgHover1::before{
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(240, 240, 240, 0.3) 100%);
    transform: skewX(-25deg);
  }
  .ImgHover1::before{
    -webkit-animation: shine .75s;
    animation: shine .75s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}


/* @media(max-width:768.98px){
  .FilterNoneClass{
    display: none;
  }
} */